
//
// VARIABLES
//

// Colors
//$blue: #4183C4;
$blue: #326598;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Meiryo, Helvetica, Arial, sans-serif;
$helveticaNeue: Meiryo, "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Meiryo, Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}